<%- include('../views/includes/head.ejs') %> 
</head>
<body>
  <%- include('../views/includes/nav.ejs') %> 
  <main>
    <% if (questions.length >0) { %>
     <div>
       <% questions.forEach(question => { %>        
          <header>
            <h3><%= question.question %></h3>
          </header>
          <% choices.forEach(choice => { %>
            <% if (choice.questionId == question.id) { %>
              <div>
                <h6><%=choice.choice%></h6>
              </div>
            <% } %>
          <% }) %>
       <% }) %>
      </div>
      <br>
       
    <% } %>
     
  </main>
  
  <%- include('../views/includes/end.ejs') %> 